@keyframes fadeFromRight {
  0% {
    transform: translateX(-10rem);
    opacity: 0;
  }
  80% {
    transform: translate(1rem);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeFromLeft {
  0% {
    transform: translateX(10rem);
    opacity: 0;
  }
  80% {
    transform: translate(-1rem);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeFromBottom {
  0% {
    transform: translatey(3rem);
    opacity: 0;
  }
  100% {
    transform: translate(0rem);
    opacity: 1;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 60%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
}
@media only screen and (max-width: 75em) {
  body {
    padding: 0;
  }
}
@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}
@media only screen and (max-width: 37.5em) {
  body {
    padding: 0;
  }
}

::selection {
  background-color: #55c57a;
  color: #fff;
}

body {
  font-family: "lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

.primary-heading {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-bottom: 5rem;
}
.primary-heading--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation: fadeFromRight 0.5s linear;
}
@media only screen and (max-width: 56.25em) {
  .primary-heading--main {
    letter-spacing: 1rem;
    font-size: 5rem;
  }
}
.primary-heading--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: fadeFromLeft 0.5s linear;
}
@media only screen and (max-width: 56.25em) {
  .primary-heading--sub {
    letter-spacing: 0.5rem;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  transition: all 0.2s;
  letter-spacing: 2px;
}
@media only screen and (max-width: 75em) {
  .heading-secondary {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 2rem;
  }
}
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.tertiary-heading {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.text-center {
  text-align: center;
}

.mb-lg {
  margin-bottom: 8rem;
}
@media only screen and (max-width: 75em) {
  .mb-lg {
    margin-bottom: 6rem;
  }
}

.mt-lg {
  margin-top: 8rem;
}
@media only screen and (max-width: 75em) {
  .mt-lg {
    margin-top: 6rem;
  }
}

.mt-xl {
  margin-top: 10rem;
}
@media only screen and (max-width: 75em) {
  .mt-xl {
    margin-top: 8rem;
  }
}

.mb-m {
  margin-bottom: 4rem;
}
@media only screen and (max-width: 75em) {
  .mb-m {
    margin-bottom: 3rem;
  }
}

.mt-m {
  margin-top: 4rem;
}

.mb-sm {
  margin-bottom: 1.5rem;
}

.about-section {
  background-color: rgba(247, 247, 247, 0.968627451);
  padding: 25rem 0;
  margin-top: -20vh;
}
@media only screen and (max-width: 75em) {
  .about-section {
    padding: 20rem 0;
  }
}
@media only screen and (max-width: 56.25em) {
  .about-section {
    margin-top: -11vh;
  }
}

.feature-section {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -12rem;
}
@media only screen and (max-width: 75em) {
  .feature-section {
    padding: 10rem 0;
  }
}
.feature-section > * {
  transform: skewY(7deg);
}

.tours-section {
  background-color: rgba(247, 247, 247, 0.968627451);
  padding: 25rem 0 10rem 0;
  margin-top: -10rem;
}
@media only screen and (max-width: 75em) {
  .tours-section {
    padding: 25rem 0 5rem 0;
  }
}

.story-section {
  padding: 15rem 0;
  position: relative;
}

.book-section {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
}
@media only screen and (max-width: 75em) {
  .book-section {
    padding: 10rem 0;
  }
}

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 5rem rgba(0, 0, 0, 0.5);
}
.book__form {
  padding: 6rem;
  width: 50%;
}
@media only screen and (max-width: 75em) {
  .book__form {
    width: 100%;
    padding: 3rem;
  }
}
@media only screen and (max-width: 75em) {
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%, transparent 100%), url(../img/nat-10.jpg);
    background-size: cover;
    width: 100%;
  }
}

.btn, .btn:visited, .btn:link, .btn:active {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  font-weight: 700;
  transition: all 0.2s;
  position: relative;
  border: none;
}
.btn--white:link, .btn--white:visited, .btn:active {
  background-color: #fff;
  color: #777;
}
.btn--white:link::after, .btn--white:visited::after, .btn:active::after {
  background-color: #fff;
}
.btn, .btn--green:link, .btn--green:visited, .btn:active {
  background-color: #55c57a;
  color: #fff;
}
.btn::after, .btn--green:link::after, .btn--green:visited::after, .btn:active::after {
  background-color: #55c57a;
}
.btn:hover .btn:focus {
  outline: none;
  transform: translateY(-0.3rem);
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover .btn:focus::after {
  transform: scale(1.5);
  opacity: 0;
}
.btn:active {
  transform: translatey(0);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  border-radius: 10rem;
  pointer-events: none;
}
.btn--animated {
  animation: fadeFromBottom 0.3s 0.75s backwards;
}

.text-btn:visited, .text-btn:link {
  color: #55c57a;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  font-size: 1.6rem;
  transition: all 0.2s;
}
.text-btn:hover {
  background-color: #55c57a;
  color: #fff;
  border: 1px solid transparent;
  transform: translateY(-0.3rem);
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.2);
}
.text-btn:active {
  transform: translateY(0);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.composition {
  position: relative;
}
.composition__image {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  position: absolute;
  transition: all 0.5s;
  outline-offset: 2rem;
}
@media only screen and (max-width: 75em) {
  .composition__image {
    width: 33.3333333333%;
    float: left;
    position: relative;
    outline-offset: 0.5rem;
  }
}
.composition__image--p1 {
  left: 0;
  top: -2rem;
}
@media only screen and (max-width: 75em) {
  .composition__image--p1 {
    left: auto;
    top: 0;
  }
}
.composition__image--p2 {
  right: 0;
  top: 2rem;
}
@media only screen and (max-width: 75em) {
  .composition__image--p2 {
    right: auto;
    top: 0;
    transform: scale(1.3);
    z-index: 2;
  }
}
.composition__image--p3 {
  left: 20%;
  top: 10rem;
}
@media only screen and (max-width: 75em) {
  .composition__image--p3 {
    left: auto;
    top: 0;
  }
}
.composition__image:hover {
  transform: scale(1.1);
  outline: 1.5rem solid #55c57a;
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 2;
}
@media only screen and (max-width: 75em) {
  .composition__image:hover {
    outline: 0.5rem solid #55c57a;
  }
}
.composition:hover .composition__image:not(:hover) {
  transform: scale(0.95);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 3rem;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 3px;
  box-shadow: 0rem 1.5rem 1rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}
@media only screen and (max-width: 75em) {
  .feature-box {
    padding: 2rem;
  }
}
.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  color: transparent;
  display: inline-block;
  background-image: linear-gradient(to bottom, #7ed56f, #28b485);
  background-clip: text;
}
@media only screen and (max-width: 75em) {
  .feature-box__icon {
    margin-bottom: 0.3rem;
    font-size: 4rem;
  }
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.02);
}

.tours-card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 53rem;
}
.tours-card__side {
  height: 53rem;
  transition: all 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.tours-card__side--front {
  background-color: #fff;
  z-index: 1;
}
.tours-card__side--back {
  transform: rotateY(180deg);
  z-index: 0;
}
.tours-card__side--back--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.tours-card__side--back--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.tours-card__side--back--3 {
  background-image: linear-gradient(to right bottom, #2888ff, #5643fa);
}
.tours-card:hover .tours-card__side--front {
  transform: rotateY(-180deg);
  z-index: 0;
}
.tours-card:hover .tours-card__side--back {
  transform: rotateY(0deg);
  z-index: 1;
}
.tours-card__image {
  height: 23rem;
  background-size: cover;
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.tours-card__image--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
}
.tours-card__image--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg);
}
.tours-card__image--3 {
  background-image: linear-gradient(to right bottom, #2888ff, #5643fa), url(../img/nat-6.jpg);
}
.tours-card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
  text-align: right;
}
.tours-card__span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
}
.tours-card__span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8));
}
.tours-card__span--2 {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
}
.tours-card__span--3 {
  background-image: linear-gradient(to right bottom, rgba(40, 136, 255, 0.8), rgba(86, 67, 250, 0.8));
}
.tours-card__details {
  padding: 3rem;
}
.tours-card__details ul {
  list-style-type: none;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
}
.tours-card__details ul li {
  padding: 1rem;
}
.tours-card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.cta-card {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.cta-card__price {
  margin-bottom: 8rem;
  font-size: 6rem;
  font-weight: 100;
}
.cta-card__only {
  font-size: 1.5rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 75em), only screen and (hover: none) {
  .tours-card {
    height: auto;
    background-color: #fff;
  }
  .tours-card__side {
    height: auto;
    position: relative;
  }
  .tours-card__side--back {
    transform: rotateY(0);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
  .tours-card:hover .tours-card__side--front {
    transform: rotateY(0);
  }
  .tours-card:hover .tours-card__side--back {
    transform: rotateY(0);
  }
  .tours-card__image {
    height: 23rem;
  }
  .tours-card__details {
    padding: 3rem;
  }
  .tours-card__details ul {
    list-style-type: none;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
  }
  .tours-card__details ul li {
    padding: 1rem;
  }
  .tours-card__details ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
  }
  .cta-card {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    padding: 7rem 4rem 4rem 4rem;
  }
  .cta-card__price {
    margin-bottom: 3rem;
  }
}
.form__group:not(:last-child) {
  margin-bottom: 3rem;
}
@media only screen and (max-width: 75em) {
  .form__group:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.form__input {
  font-size: 1.5rem;
  padding: 1.5rem;
  display: block;
  width: 90%;
  border-radius: 2px;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: inherit;
  color: inherit;
  transition: all 0.3s;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 75em) {
  .form__input {
    width: 100%;
  }
}
.form__input:focus {
  outline: none;
}
.form__input:focus:valid {
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__input::placeholder {
  color: #999;
  font-weight: 600;
}
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 1.5rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}
.form__input:placeholder-shown + .form__label {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-4rem);
}
.form__radio-group {
  width: 49%;
  display: inline-block;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 75em) {
  .form__radio-group {
    width: 100%;
    margin-bottom: 2rem;
  }
}
.form__radio-input {
  display: none;
}
.form__radio-label {
  cursor: pointer;
  position: relative;
  padding-left: 4rem;
}
.form__radio-button {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  border-radius: 50%;
  border: 3px solid #55c57a;
  margin-inline-end: 0.7rem;
  position: absolute;
  left: 0;
}
.form__radio-button::after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background-color: #55c57a;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s;
}
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.story {
  width: 70%;
  margin: auto;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  background-color: #fff;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  font-size: 1.9rem;
  transform: skew(-7deg);
}
@media only screen and (max-width: 75em) {
  .story {
    width: 100%;
    transform: skew(0deg);
    padding: 4rem;
    padding-left: 5rem;
  }
}
.story > * {
  transform: skew(7deg);
}
@media only screen and (max-width: 75em) {
  .story > * {
    transform: skew(0deg);
  }
}
.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  shape-outside: circle(50%);
  clip-path: circle(50%);
  transform: translateX(-3rem) skew(7deg);
  position: relative;
}
@media only screen and (max-width: 75em) {
  .story__shape {
    transform: translateX(-3rem) skew(0deg);
  }
}
.story__caption {
  color: #fff;
  font-size: 1.7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 118%);
  text-align: center;
  transition: all 0.3s;
}
.story__img {
  transform: translate(-3rem) scale(1.1);
  transition: all 0.3s;
}
.story:hover .story__img {
  transform: translate(-3rem) scale(1);
  filter: blur(3px) brightness(90%);
}
.story:hover .story__caption {
  transform: translate(-50%, -50%);
}

.bg-video {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.bg-video__content {
  opacity: 0.2;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
@supports (backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px)) {
  .popup {
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.popup__close {
  color: #000;
  text-decoration: none;
  font-size: 4rem;
  position: absolute;
  top: 1rem;
  right: 2.5rem;
  transition: all 0.3s;
}
.popup__close:hover {
  color: #55c57a;
}
.popup__content {
  width: 75%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  border-radius: 3px;
  display: table;
  overflow: hidden;
  transition: all 0.4s;
}
.popup__left {
  width: 33.333333%;
  display: table-cell;
}
.popup__right {
  width: 66.666666%;
  display: table-cell;
  vertical-align: middle;
  padding: 5rem;
}
.popup__img {
  width: 100%;
  display: block;
}
.popup__text {
  font-size: 1.4rem;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid rgba(247, 247, 247, 0.968627451);
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}
@media only screen and (min-resolution: 192dpi) and (min-width: 700px), only screen and (min-width: 2000px) {
  .header {
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  }
}
@media only screen and (max-width: 56.25em) {
  .header {
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
}
.header__img-box {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem;
}
.header__img {
  display: inline-block;
  height: 3.5rem;
}
.header__text-box {
  display: inline-block;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
@media only screen and (max-width: 75em) {
  .row {
    max-width: 50rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .row {
    padding: 0 2rem;
  }
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media only screen and (max-width: 75em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row [class^=col-] {
  float: left;
}
@media only screen and (max-width: 75em) {
  .row [class^=col-] {
    width: 100% !important;
    margin-bottom: 6rem;
  }
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
@media only screen and (max-width: 75em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 12rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * (100% - 12rem) / 3 + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 18rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * (100% - 18rem) / 4 + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * (100% - 18rem) / 4 + 12rem);
}

.footer {
  background-color: #393838;
  padding: 10rem 0;
  color: rgba(247, 247, 247, 0.968627451);
  font-size: 1.6rem;
  text-align: center;
}
@media only screen and (max-width: 75em) {
  .footer {
    padding: 6rem 0;
  }
}
.footer__logo-box {
  text-align: center;
  margin-bottom: 8rem;
}
@media only screen and (max-width: 56.25em) {
  .footer__logo-box {
    margin-bottom: 4rem;
  }
}
.footer__logo-box img {
  width: 15rem;
}
@media only screen and (max-width: 56.25em) {
  .footer__logo-box img {
    width: 10rem;
  }
}
.footer__navigation {
  border-top: 2px solid #999;
  padding-top: 3rem;
  display: inline-block;
}
.footer__copyright {
  border-top: 2px solid #999;
  padding-top: 3rem;
  display: inline-block;
}
.footer__list {
  list-style-type: none;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  padding-right: 1.5rem;
}
.footer__link {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.3s;
  color: rgba(247, 247, 247, 0.968627451);
  background-color: #393838;
}
.footer__link:hover {
  color: #55c57a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.3);
}

.navigation {
  overflow: hidden;
}
.navigation__checkbox {
  display: none;
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(100);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  visibility: visible;
}
.navigation__checkbox:checked ~ .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(130deg);
}
.navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-130deg);
}
.navigation__button {
  background-color: #fff;
  top: 6.5rem;
  right: 6.5rem;
  width: 6rem;
  height: 6rem;
  z-index: 3;
  border-radius: 50%;
  position: fixed;
  cursor: pointer;
}
@media only screen and (max-width: 75em) {
  .navigation__button {
    top: 4rem;
    right: 4rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .navigation__button {
    top: 3rem;
    right: 3rem;
  }
}
.navigation__icon {
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  width: 40%;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  background-color: #777;
  height: 1px;
  position: absolute;
}
.navigation__icon::before {
  content: "";
  top: 0.8rem;
  width: 100%;
}
.navigation__icon::after {
  content: "";
  top: -0.8rem;
  width: 100%;
}
.navigation__button:hover .navigation__icon::before {
  top: 1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: -1rem;
}
.navigation__background {
  background-image: radial-gradient(#7ed56f, #28b485);
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  z-index: 2;
  display: inline-block;
  transition: all 0.3s;
}
@media only screen and (max-width: 75em) {
  .navigation__background {
    top: 4rem;
    right: 4rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .navigation__background {
    top: 3rem;
    right: 3rem;
  }
}
.navigation__nav {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.navigation__list {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}
.navigation__item {
  list-style-type: none;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
.navigation__item:not(:last-child) {
  margin-bottom: 1rem;
}
.navigation__link {
  color: #fff;
  text-decoration: none;
  background-image: linear-gradient(110deg, transparent 0%, transparent 50%, #fff 50%);
  padding: 1rem;
  background-size: 220%;
  transition: all 0.3s;
  display: inline-block;
}
.navigation__link:hover {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem);
}
.navigation__link span {
  display: inline-block;
  margin-inline-end: 1.5rem;
}

/*# sourceMappingURL=styles.css.map */
