/* Error: Expected whitespace.
 *    ,
 * 16 |     only screen and(min-width: 2000px) {
 *    |                    ^
 *    '
 *   sass\layouts\_header.scss 16:20  @import
 *   sass\styles.scss 17:9            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected whitespace.\a    \2577 \a 16 \2502      only screen and(min-width: 2000px) {\d\a    \2502                     ^\a    \2575 \a   sass\\layouts\\_header.scss 16:20  @import\a   sass\\styles.scss 17:9            root stylesheet";
}
