/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "lato", sans-serif;
  font-size: 16;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}
.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}
.img-box {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}
.img {
  display: inline-block;
  height: 35px;
}
.text-box {
  display: inline-block;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.primary-heading {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 50px;
}
.primary-heading-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation: fadeFromRight 0.5s linear;
}
.primary-heading-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
  animation: fadeFromLeft 0.5s linear;
}

.btn:visited,
.btn:link,
.btn:active {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  font-weight: 700;
  transition: all 0.2s;
  position: relative;
}

.btn-white:link,
.btn-white:visited,
.btn:active {
  background-color: #fff;
  color: inherit;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translatey(-1px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #fff;
  transition: all 0.4s;
  border-radius: 100px;
  pointer-events: none;
}

.btn:hover::after {
  transform: scale(1.5);
  opacity: 0;
}

.btn-animated {
  animation: fadeFromBottom 0.3s 0.75s backwards;
}

@keyframes fadeFromRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  80% {
    transform: translate(10px);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeFromLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  80% {
    transform: translate(-10px);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeFromBottom {
  0% {
    transform: translatey(30px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}
