$primaryColor: #55c57a;
// COLORS

$primaryColorLight: #7ed56f;
$primaryColorDark: #28b485;
$secondaryColorLight: #ffb900;
$secondaryColorDark: #ff7730;
$secondaryColorDark: #ff7730;
$teriaryColorLight: #2888ff;
$teriaryColorDark: #5643fa;

$grey_color_light_1: #f7f7f7f7;
$grey_color_light_2: #eee;
$darkGreyColor: #777;
$darkGreyColor2: #999;
$darkGreyColor3: #393838;
$whiteColor: #fff;
$blackColor: #000;

// font-size
$default-font-size: 1.6rem;

// GRID
$grid_width: 114rem;
$gutter_vertical: 8rem;
$gutter_horizontal: 6rem;
