.composition {
  position: relative;
  &__image {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($blackColor, 0.2);
    position: absolute;
    transition: all 0.5s;
    outline-offset: 2rem;
    &--p1 {
      left: 0;
      top: -2rem;
    }
    &--p2 {
      right: 0;
      top: 2rem;
    }
    &--p3 {
      left: 20%;
      top: 10rem;
    }
    &:hover {
      transform: scale(1.1);
      outline: 1.5rem solid $primaryColor;
      box-shadow: 0 2.5rem 4rem rgba($blackColor, 0.5);
      z-index: 2;
    }
  }
  &:hover &__image:not(:hover) {
    transform: scale(0.95);
  }
}
