.story {
  width: 70%;
  margin: auto;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  background-color: $whiteColor;
  box-shadow: 0 3rem 6rem rgba($blackColor, 0.1);
  font-size: 1.9rem;
  transform: skew(-7deg);

  @include respond(md) {
    width: 100%;
    transform: skew(0deg);
    padding: 4rem;
    padding-left: 5rem;
  }

  & > * {
    transform: skew(7deg);
    @include respond(md) {
      transform: skew(0deg);
    }
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50%);
    clip-path: circle(50%);
    transform: translateX(-3rem) skew(7deg);
    position: relative;
    @include respond(md) {
      transform: translateX(-3rem) skew(0deg);
    }
  }

  &__caption {
    color: $whiteColor;
    font-size: 1.7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 118%);
    text-align: center;
    transition: all 0.3s;
  }

  &__img {
    transform: translate(-3rem) scale(1.1);
    transition: all 0.3s;
  }

  &:hover &__img {
    transform: translate(-3rem) scale(1);
    filter: blur(3px) brightness(90%);
  }
  &:hover &__caption {
    transform: translate(-50%, -50%);
  }
}
