.text-center {
  text-align: center;
}
.mb-lg {
  margin-bottom: 8rem;
}
.mt-lg {
  margin-top: 8rem;
}
.mt-xl {
  margin-top: 10rem;
}
.mb-m {
  margin-bottom: 4rem;
}
.mt-m {
  margin-top: 4rem;
}
.mb-sm {
  margin-bottom: 1.5rem;
}
