.navigation {
  overflow: hidden;
  &__checkbox {
    display: none;
  }

  &__checkbox:checked ~ &__background {
    transform: scale(100);
  }
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    visibility: visible;
  }
  &__checkbox:checked ~ &__button &__icon {
    background-color: transparent;
  }
  &__checkbox:checked ~ &__button &__icon::before {
    top: 0;
    transform: rotate(130deg);
  }
  &__checkbox:checked ~ &__button &__icon::after {
    top: 0;
    transform: rotate(-130deg);
  }

  &__button {
    background-color: $whiteColor;
    top: 6.5rem;
    right: 6.5rem;
    width: 6rem;
    height: 6rem;
    z-index: 3;
    border-radius: 50%;
    position: fixed;
    cursor: pointer;

    @include respond(md) {
      top: 4rem;
      right: 4rem;
    }
    @include respond(sm) {
      top: 3rem;
      right: 3rem;
    }
  }

  &__icon {
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
    width: 40%;

    &,
    &::before,
    &::after {
      background-color: $darkGreyColor;
      height: 1px;
      position: absolute;
    }

    &::before {
      content: "";
      top: 0.8rem;
      width: 100%;
    }
    &::after {
      content: "";
      top: -0.8rem;
      width: 100%;
    }
  }

  &__button:hover &__icon::before {
    top: 1rem;
  }
  &__button:hover &__icon::after {
    top: -1rem;
  }

  &__background {
    background-image: radial-gradient($primaryColorLight, $primaryColorDark);
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    z-index: 2;
    display: inline-block;
    transition: all 0.3s;
    @include respond(md) {
      top: 4rem;
      right: 4rem;
    }
    @include respond(sm) {
      top: 3rem;
      right: 3rem;
    }
  }

  &__nav {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }
  &__list {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
  }

  &__item {
    list-style-type: none;
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__link {
    color: $whiteColor;
    text-decoration: none;
    background-image: linear-gradient(
      110deg,
      transparent 0%,
      transparent 50%,
      $whiteColor 50%
    );
    padding: 1rem;
    background-size: 220%;
    transition: all 0.3s;
    display: inline-block;
    &:hover {
      background-position: 100%;
      color: $primaryColor;
      transform: translateX(1rem);
    }
    span {
      display: inline-block;
      margin-inline-end: 1.5rem;
    }
  }
}
